In [3]:
# import
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [4]:
# get the price action for Procter & Gamble (the code is PG)
PG=wb.DataReader('PG',data_source='yahoo')

In [5]:
# print the first five price action
PG.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2015-05-12  80.290001  79.360001  80.029999  79.949997  6305800.0  68.460526
2015-05-13  80.589996  79.550003  80.160004  79.699997  6459900.0  68.246445
2015-05-14  80.690002  80.089996  80.110001  80.570000  5634200.0  68.991417
2015-05-15  81.120003  80.730003  80.830002  81.050003  7454800.0  69.402443
2015-05-18  81.129997  80.500000  80.970001  80.739998  5590800.0  69.136993

In [6]:
# printe the last five price action
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-05-04,117.199997,115.000000,117.089996,115.769997,5636000.0,115.769997
2020-05-05,117.260002,115.209999,115.800003,116.010002,5425200.0,116.010002
2020-05-06,116.139999,112.889999,115.540001,113.099998,7892200.0,113.099998
2020-05-07,114.139999,111.820000,114.059998,112.169998,8762800.0,112.169998
2020-05-08,116.300003,113.389999,113.519997,115.949997,9279900.0,115.949997

In [7]:
# calculate the logaritmic daily return of assets. The formula is log(price(T)/price(T-1)), where T is the time. 
PG['log_return']=np.log(PG['Close']/PG['Close'].shift(1))
# print the result. For the first row we do not have a return.
print(PG['log_return'])

Date
2015-05-12         NaN
2015-05-13   -0.003132
2015-05-14    0.010857
2015-05-15    0.005940
2015-05-18   -0.003832
                ...
2020-05-04   -0.009029
2020-05-05    0.002071
2020-05-06   -0.025404
2020-05-07   -0.008257
2020-05-08    0.033143
Name: log_return, Length: 1258, dtype: float64

In [13]:
# the risk of an assets is the variance of the return.Basically, price fluctuations and their difference from the average are measured
daily_risk=PG['log_return'].var()
# print the daily risk
print(daily_risk)

0.0001631201655703098

In [15]:
# calculate the annual risk. The formula is daily risk*250. We assume it exists 250 working days (365- weekends, legal free days)
annual_risk=daily_risk*250
# print the anually risk
print(annual_risk)

0.040780041392577446